<h1>School Class Form </h1>
<%= form_tag school_classes_path do %>
<%= label_tag :title %>
<%= text_field_tag :title %>
<%= label_tag :room_number %>
<%= text_field_tag :room_number %>
<input type="submit" name="" value="Create School class">
<% end  %>
